
/* Universal Rules*/

html {
  font-size: 18px;
}

body {
  width: 960px;
  font-family: Helvetica;
}

h1, h4 {
  font-family: Helvetica;
  font-weight: bold;
}
.company {
  display: flex;
  height: 2rem;
  background-color: black;

}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* This is the area with the little logo and the name of the site*/

.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

.container img {
  height: 1.5rem;
  max-width: 960px;
  padding-left: 0.5rem;
  padding-right: 1.5rem;
  padding: 0.66rem 0.66rem;
}

.container h1 {
  color: white;
  font-size: 1rem;
  padding: 0.66rem 0.66rem;
  justify-content: center;
  background-color: black;
}

/*big container with photo background*/
.bigcontainer {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  margin: 0 auto;
  padding-top: 9rem;
}

/*Sport bikes and motorcycles black box Not sure why it's sticky on left*/

.blackbox {
  width: 20rem;
  background-color: black;
  color: white;
  position: relative;
  padding: 2rem 3rem;
}

.blackbox h4 {
  font-size: 1rem;
}

.blackbox h1 {
  font-size: 2rem;
}

/*Red nav bar how do I get rid of the bullets?*/

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  color: white;
}


/*Main Item Area*/

 .products,
 .location-hours {
   display: flex;
   justify-content: space-between;
   margin-top: 3rem;
 }

 .product {
   max-width: 30%;
 }
 .product img {
   height: 9rem;
   padding: 2rem;
 }

 .description {
   background-color: black;
   color: white;
   padding: 1rem 2rem;
   text-align: center;
 }
