


/* Universal Rules*/

html {
  font-size: 18px;
}

body {
  width: 960px;
  font-family: Helvetica;
}

h1, h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* This is the area with the little logo and the name of the site*/

.company {
  background-color: black;
  color: white;
  display: flex;
  height: 2rem;
}

.company .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

.container img {
  height: 1.5rem;

  padding-left: 0.5rem;
  padding-right: 1.5rem;
  padding: 0.66rem 0.66rem;
}

.container h1 {
  color: white;
  font-size: 1rem;
  padding: 0.66rem 0.66rem;
  justify-content: center;
  background-color: black;
}

/*big container with photo background*/
.hero {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  padding-top: 9rem;
}

/*Sport bikes and motorcycles black box Not sure why it's sticky on left*/

.blackbox {
  height: 9rem;
  width: 20rem;
  background-color: black;
  color: white;
  position: relative;
  padding: 2rem 3rem;
}

.blackbox h4 {
  font-size: 1rem;
}

.blackbox h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
  line-height: 1.2;

}

/*Red nav bar*/

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}

.mobile-nav {
  display: none;
  text-align: center;
}


/*Main Item Area*/

 .products,
 .location-hours {
   display: flex;
   justify-content: space-between;
   margin-top: 3rem;
 }

 .product {
   width: 30%;
 }

 .product-image img {
   max-width: 8rem;
 }

 .description {
   display: block;
   padding: 0.5rem;
   text-align: center;
   background-color: black;
   color: white;
 }

 .product-image {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 9rem;
   padding: 2rem 0;
   border: 4px solid black;
 }

 .location-hours {
   width: 35%;
   padding: 2rem 1rem;
 }

 .info .description {
   display: block;
   padding: 1rem 2rem;
   background-color: black;
   color: white;
 }

.footer {
  height: 5rem;
  display: block;
  background-color: black;
  color: white;
  text-align: left;
  padding: 2rem 2rem;

}

@@media only screen and (max-width: 1024) {

  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

}
